.container {
    height: 100%;
    display: grid;
    grid-template-rows: 75px auto 75px;
    grid-template-areas: "header"
                         "main"
                         "footer";
    > .main{
        grid-area: main;
        display: flex;
        justify-content: center;
    }
    > footer {
        grid-area: footer;
    }
}
